body{
    margin: 0px;
    padding: 0px;
    background: rgb(93, 170, 185);
    background: linear-gradient(90deg, rgba(93, 170, 185, 1) 0%, rgb(159, 223, 236) 50%, rgba(93, 170, 185, 1) 100%);
    --text-color: #242529;
    --accent-color: #f2f9fa;
    --secondary-color: rgb(189, 187, 187);
    --widgit-color: #1e90ff;
}

.appName{
    color: var(--text-color);
    text-align: center;
}

.mainWrapper{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.controlsWrapper{
    box-sizing: border-box;
    align-items: center;
    width: 380px;
    /* border: 1px solid black; */
    position: relative;


}

.inputRow{
    text-align: center;
}

.taskInput{
    padding-left: 10px;
    width: 360px;
    height: 35px;
    font-size: 1.1rem;
    border: 2px solid var(--text-color);
    border-radius: 15px;
}

.addTask{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    background-color: var(--widgit-color);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 200ms ease;
}

.addTask:hover{
    /* background-color: hsl(210, 100%, 76%); */
    background-color: hsla(160, 87%, 40%, 0.808);

}


ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 5px;
}

li{
    display: flex;
    align-items: center;
    font-size: 1.18rem;
    padding: 5px 30px;
    position: relative;
}

li::before{
    content: "";
    position:absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-image: url(images/circle_unchecked.png);
    background-size: cover;
    background-position: center;
    margin-right: 5px;
    cursor: pointer;
    top: 5px;
    left: 2px;
}


li::after{
    content: "";
    position:absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/trash_can.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    top: 5px;
    right: 2px;
}

